

  <fieldset class="scheduler-border">
    <h1>{{title}}</h1>
    <p>This is a Rock Paper Scisor Tournament.</p>
    <p>Click on 'Load Json' Buttons to load some example of Players array. Then Click on the 'Find Winner' Button to get the winnner.</p>
    <p>*You can also edit these data.</p>
    <form #form="ngForm" id="bookForm" autocomplete="off">
      <div class="row">
        <div class="col-xl-4 text-xs-center">
          <div class="mb-3">
            <input type="hidden" name="id">
            <div class="form-group">
              <label>Request Body</label>
              <textarea class="form-control" name="stringjson" [(ngModel)]='stringjson' required></textarea>
            </div>
          </div>
        </div>


        <div class="col-xl-4 text-xs-center">
          <div class="mb-3">
            <div class="wrapper">
              <button (click)="loadJsonString(1)" class="btn btn-primary">Load Json - part A</button>
              <button (click)="loadJsonString(2)" class="btn btn-primary">Load Json - part B</button>
              <button (click)="loadJsonString(3)" class="btn btn-primary">Load Json - extra</button>
              <button (click)="findWinner()" class="btn btn-primary pull-right">Find Winner</button>
              <!--<button type="submit" [disabled]="form.invalid" class="btn btn-primary pull-right">Send Request</button>-->
            </div>
          </div>
        </div>
        <h2 *ngIf="requestResponse">{{requestResponse}}</h2>
      </div>
    </form>
  </fieldset>

